$bg-color: #1e2c4c;
$bg-color-quote-hover: #334573;
$bg-color-accum-green: rgba(16, 186, 104, 0.12);
$bg-color-accum-red: rgba(255, 90, 90, 0.12);
$bg-color-flash-green: rgba(0, 177, 93, 0.5);
$bg-color-flash-red: rgba(255, 91, 90, 0.5);
$bg-color-tooltip: #57626E;
$bg-color-price-no-change: rgba(134,152,170,0.12);

$text-color-default: #ffffff;
$text-color-table-head: #8698aa;
$text-color-buy-quote: #00b15d;
$text-color-sell-quote: #FF5B5A;